<a href="https://colab.research.google.com/github/Debasish2003/Python_Practices/blob/master/Python_1_Shreyas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionary

In [0]:
d1={'IN':{'Wb':[20,30,40],'TN':[40,50,60],'MH':[45,55,65]}, 'US':{'NY':[35,45,65],'Cal':[23,32,44]}}

In [0]:
d1['IN']

{'MH': [45, 55, 65], 'TN': [40, 50, 60], 'Wb': [20, 30, 40]}

In [0]:
d1['US']['Cal']

[23, 32, 44]

In [0]:
d2=[[20,30,40],[40,50,60],[45,55,65]]

In [0]:
d2[0]

[20, 30, 40]

In [0]:
d2[0][2]

40

###Pandas

In [15]:
import pandas as pd
d3={'x1':[20,30,40],'x2':[34,45,55],'x3':[45,55,65]}
df=pd.DataFrame(d3)
df

   x1  x2  x3
0  20  34  45
1  30  45  55
2  40  55  65

In [16]:
df.describe()

         x1         x2    x3
count   3.0   3.000000   3.0
mean   30.0  44.666667  55.0
std    10.0  10.503968  10.0
min    20.0  34.000000  45.0
25%    25.0  39.500000  50.0
50%    30.0  45.000000  55.0
75%    35.0  50.000000  60.0
max    40.0  55.000000  65.0

In [18]:
df.mean(axis=1)

0    33.000000
1    43.333333
2    53.333333
dtype: float64

In [38]:
pd.df['x1'].plot(kind= Bar)

AttributeError: ignored

In [25]:
##Tuple
a=(1,2,3,4)
a

(1, 2, 3, 4)

**Slice: [Start :end(+1):Step]**

In [26]:
a[::2]

(1, 3)

In [27]:
a[::-1]

(4, 3, 2, 1)

In [28]:
a[0:3:1]

(1, 2, 3)

In [29]:
Name=input('Your name:')

Your name:debasish

In [31]:
##Name not printed, Only last command get printed
Name
a

(1, 2, 3, 4)

In [33]:
##To Get all use print()
print(Name)
a

debasish

(1, 2, 3, 4)